<!DOCTYPE html>
<html>
<head>
    <title>SOG Profcast</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="board">
        Abonniert unseren <a href="/rss">RSS Feed</a>
        <br>
        <div style="text-align: center">
            <img src="/static/download/image.jpg" class="title-image">
        </div>
        <br>
        <span class="middle-title">Alle Folgen</span>
        <hr>
        {{ range . }}
        <div class="episode">
            <span class="episode-date">{{ .GeneratedValues.PubDateReadable }}<span>
            <span class="episode-title">{{ .EpisodeTitle }}</span>
            <div class="episode-description">
                <p>{{ .GeneratedValues.DescriptionTrusted }}</p>
                <audio controls="controls">
                    <source src="{{ .GeneratedValues.EpisodeLink }}">
                </audio>
            </div>
        </div>
        {{end}}
    </div>
</body>
</html>
